<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <title>购买者信息</title>
    <meta name="description" content="一个连程序猿都会Hip-Hop的街舞社团，来瞧瞧我们的另一面！" />
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/info.css">
    <link rel="stylesheet" href="/static/css/count.css">
    <link rel="stylesheet" href="/static/css/layer.css">
    <style type="text/css">
        html, body {
            height: 100%;
        }
        body {
            background: url('/static/img/signBg.png') no-repeat;
            /*background-position: center center;*/
            background-size: cover;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded',function(){
         var docEl = window.document.documentElement;
         var width = docEl.getBoundingClientRect().width;
         var rootSize = width/1080*100;
         docEl.style.fontSize = rootSize + 'px';
       },false);
    </script>
</head>
<body>
<!-- <div id="formbackground" style="position:absolute; width:100%; height:100%; z-index:-1">
    <img src="/static/img/bg.png" height="100%" width="100%">
</div>
<div class="title-wrap">
   <img src="/static/img/playhard.png" class="title2">
</div> -->
<div id="formbackground" style="position:absolute; width:100%; height:100%; z-index:-1">
<!-- <img src="/static/img/bgNew.png" height="100%" width="100%"/> -->
</div>

<div class="title-wrap">
   <img src="/static/img/newLogo.png" class="title1">
   <div class="title2">
       <h1><img src="/static/img/G-STEPS.png"></h1>
       <h2>5周年公演</h2>
       <h4>PLAY HARD</h4>
       <h4>WORK HARD</h4>
       <p>7月21日不见不散</p>
   </div>
</div>
<div class='tip-wrapper' style='margin-top: 30px;'>
  <p class='success-tip' style='font-size: 15px;margin-bottom: 10px;'>提交信息，G社工作人员会联系您</p>
  <p class='success-tip' style='font-size: 15px;'>我们会为您安排专属体验课</p>
</div>

<div class="input-wrapper" style='margin-top: 16%'>
  <div class="form_field">
      <div class="validate-item"><span>姓名：</span><input type="text" name="userName" id="userName"><p class="error"></p></div>
      <div class="validate-item"><span>手机：</span><input type="text" name="phone" id="phone"><p class="error"></p></div>
  </div>

</div>

<div class="button-wrapper">
    <a href="javascript:;" class="btn btn-common btn-want" id="submit">
      <img src="/static/img/submit.png">
    </a>
</div>

<!-- <div class="button-wrapper button-wrapper-static">
    <a href="/orderlist.html" class="btn btn-confirm" >提交</a>
</div> -->

<script src="/static/js/jquery.js"></script>
<script src="/static/js/reqwest.js"></script>
<script src="/static/js/layer.js"></script>
<script src="/static/js/valid1.js"></script>
<!-- <script src="/static/js/main.js"></script> -->
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script> 
</body>
</html>
