body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
figcaption,
figure,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px/1 'Microsoft YaHei', "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
h1 {
  font-size: 18px;
  font-weight: normal;
}
h2 {
  font-size: 16px;
  font-weight: normal;
}
h3 {
  font-size: 14px;
  font-weight: normal;
}
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp,
tt {
  font-family: "Courier New", Courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
abbr[title],
acronym[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
q:before,
q:after {
  content: '';
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  border: 0;
  height: 1px;
}
* {
  -ms-word-break: break-all;
  word-break: break-all;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  background: url('static/img/bg.png');
}
.video-wrap {
  text-align: center;
  border: 5px;
  margin-top: 30px;
}
.title-wrap {
  text-align: center;
  padding-top: 30px;
}
.title-wrap .title1 {
  width: 50%;
}
.title-wrap .title2 {
  width: 80%;
}
.introtext-wrapper {
  margin: 0 auto;
  width: 90%;
  margin-top: 20px;
}
.introtext-wrapper p {
  line-height: 1.5;
  color: #fff;
  font-size: 14px;
  padding: 5px 24px;
}
.button-wrapper {
  margin-top: 10px;
  text-align: center;
}
.button-wrapper .btn {
  display: inline-block;
  width: 80%;
  padding: 10px 0;
  border-radius: 20px;
  background: transparent;
  font-size: 14px;
}
.button-wrapper .btn-want,
.button-wrapper .btn-help,
.button-wrapper .btn-want-also {
  color: #fff;
  border: 1px solid #fff;
}
.button-wrapper .btn-cheerup {
  color: #fff;
  background: #d32b2e;
  margin-bottom: 10px;
}
.button-wrapper .want-tips {
  color: #fff;
  font-size: 14px;
  margin-top: 10px;
}
.footer {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
  color: #4e91ff;
}
.footer a {
  font-size: 12px;
  color: #4e91ff;
  margin: 0 5px;
}
.video-link {
  width: 10%;
  position: absolute;
  left: 3%;
  top: 5px;
}
.video-link img {
  width: 100%;
}
.info {
  position: absolute;
  width: 5%;
  right: 2%;
  top: 2%;
}
.info img {
  width: 100%;
}
.ticket-wrapper {
  text-align: center;
}
.ticket-wrapper .ticket {
  width: 100%;
}
.ticket-wrapper .ticket-title {
  margin: 30px 0 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
.ticket-wrapper .ticket_img_wrapper {
  position: relative;
  margin: 0 auto;
  width: 85%;
}
.ticket-wrapper .ticket_img_wrapper .ticket_modal {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5%;
  background-color: rgba(172, 172, 172, 0.7);
  z-index: 10;
}
.ticket-wrapper .ticket_img_wrapper .ticket_modal.hide {
  background-color: rgba(0, 0, 0, 0);
}
.ticket-title {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}
#counter h2 {
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
  padding: 10px;
}
.success-wrapper {
  margin: 5px 5%;
  padding: 10px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.success-wrapper h3 {
  font-size: 14px;
}
.success-wrapper p {
  margin-top: 10px;
}
.exchange-wrapper {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  padding: 10px 0;
  font-size: 14px;
}
.exchange-wrapper p {
  font-size: 16px;
}
.oxw {
  font-size: 14px;
}
.layermchild p {
  color: #666666;
  padding: 0 24px;
}
.layermchild h3.layer-con-title {
  border: none;
  padding: 0;
  font-size: 18px;
  color: #666666;
}
