body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
figcaption,
figure,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px/1 'Microsoft YaHei', "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
h1 {
  font-size: 18px;
  font-weight: normal;
}
h2 {
  font-size: 16px;
  font-weight: normal;
}
h3 {
  font-size: 14px;
  font-weight: normal;
}
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp,
tt {
  font-family: "Courier New", Courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
abbr[title],
acronym[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
q:before,
q:after {
  content: '';
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  border: 0;
  height: 1px;
}
* {
  -ms-word-break: break-all;
  word-break: break-all;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  /*background: url('static/img/bg.png');*/
}
.video-wrap {
  text-align: center;
  border: 5px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.title-wrap {
  text-align: center;
  padding-top: 52px;
}
.title-wrap .title1 {
  width: 150px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
}
.title-wrap .title2 h1 {
  /* G-STEPS: */
  font-family: CompactaW02-Bold;
  font-size: 50px;
  color: #FFFFFF;
  letter-spacing: 4px;
  text-align: center;
  line-height: 34px;
}
.title-wrap .title2 h1 img {
  width: 72%;
}
.buttons-wrapper {
  position: absolute;
  bottom: 20px;
}
.title-wrap .title2 h2 {
  /* 5周年公演: */
  font-family: Helvetica;
  font-size: 29px;
  color: #FFFFFF;
  text-align: center;
  line-height: 30px;
  margin-bottom: 5px;
}
.title-wrap .title2 h4 {
  font-family: PingFangSC-Light;
  font-size: 17px;
  color: #FFFFFF;
  letter-spacing: 5px;
  text-align: center;
  line-height: 15px;
  margin-bottom: 5px;
}
.title-wrap .title2 p {
  /* 7月21日不见不散: */
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 15px;
  margin-top: 13px;
  padding: 5px 16px;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  display: inline-block;
}
.title-wrap .title2 {
  /*width: 80%;*/
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}
.introtext-wrapper {
  margin: 0 auto;
  width: 90%;
  margin-top: 20px;
}
.introtext-wrapper p {
  line-height: 1.5;
  color: #fff;
  font-size: 14px;
  padding: 5px 24px;
}
.button-wrapper {
  margin-top: 10px;
  text-align: center;
}
.button-wrapper .btn {
  display: inline-block;
  width: 80%;
  /*padding: 15px 0;*/
  font-size: 14px;
}
.button-wrapper .btn-common {
  border: none;
  color: #fff;
  /*background: url('/static/img/btn-bg.png');*/

}

.button-wrapper .btn-finish {
  border: none;
  color: #fff;
  background: rgba(136, 136, 136, 0.8);

}
.button-wrapper .btn-common img {
  width: 100%;
}
.button-wrapper .btn-common img.iwant {
  margin-top: 0px;
}
/*.button-wrapper .btn-want,
.button-wrapper .btn-help,
.button-wrapper .btn-myhelp,
.button-wrapper .btn-want-also {
  
}*/
.button-wrapper .btn-cheerup {
  color: #fff;
  background: #d32b2e;
  margin-bottom: 0px;
  padding: 0;
}
.button-wrapper .want-tips {
  color: #fff;
  font-size: 14px;
  margin-top: 10px;
}
.footer {
    position: absolute;
    bottom: 15px;
    text-align: center;
    width: 100%;
    color: #4e91ff;
}
.footer a {
    font-size: 12px;
    color: #fff;
    margin: 0 5px;
    border: 1px solid #fff;
    border-radius: 14px;
    padding: 6px 10px;
}
.video-link {
  width: 10%;
  position: absolute;
  left: 3%;
  top: 5px;
}
.video-link img {
  width: 100%;
}
.info {
  position: absolute;
  width: 5%;
  right: 2%;
  top: 2%;
}
.info img {
  width: 100%;
}

.ticket-title {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}
#counter h2 {
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
  padding: 10px;
}
.success-wrapper {
  margin: 5% 10% 0%;
  padding: 10px;
  color: rgba(255, 255, 255, 0.8);
  // border: 1px solid rgba(255, 255, 255, 0.4);
}
.success-wrapper h3 {
  font-size: 14px;
}
.success-wrapper p {
  margin-top: 10px;
}
.exchange-wrapper {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  padding: 10px 0;
  font-size: 14px;
}
.exchange-wrapper p {
  font-size: 16px;
}
.oxw {
  font-size: 14px;
}
.layermchild p {
  color: #666666;
  padding: 0 24px;
}
.layermchild h3.layer-con-title {
  border: none;
  padding: 0;
  font-size: 18px;
  color: #666666;
}




.gsteps-address .ticket {
  width: 60%;
  margin-left: 25%;
}
.ticket-wrapper {
  margin-top: 10%;
  text-align: center;
  margin-bottom: 7%;
}
.ticket-wrapper .ticket {
  width: 95%;
}
.ticket-wrapper .float_area {
  /*position: absolute;
  top: -7%;
  left: 0;
  bottom: 20px;*/
}
.ticket-wrapper .wrapper_heart {
  margin-top: 3%;
  margin-bottom: 3%;
}
.wrapper_heart.cheer_payed {
  background-color: rgba(255, 255, 255, .6);
  padding: 10px 0;
}
.ticket-wrapper .heart {
  font-size: 0;
}
.ticket-wrapper .heart .image_heart {
  width: 7.5%;
  display: inline-block;
  margin-left: 1%;
  margin-right: 6px;
}
.ticket-wrapper .heart {
  margin-bottom: 5%;
}
.ticket-wrapper .heart:last-child {
  margin-bottom: 0;
}


.ticket-wrapper .ticket-title {
  margin: 30px 0 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
.ticket-wrapper .ticket_img_wrapper {
  position: relative;
  margin: 0 auto;
  width: 80%;
}
.ticket-wrapper .ticket_img_wrapper .ticket_modal {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5%;
  background-color: rgba(172, 172, 172, 0.7);
  z-index: 10;
}
.ticket-wrapper .ticket_img_wrapper .ticket_modal.hide {
  background-color: rgba(0, 0, 0, 0);
}



.remain_num {
  position: relative;
}
.remain_num .exchange-wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #d3242e;
  /* padding: 10px 0; */

  font-size: 14px;
  position: absolute;
  top: 50%;
  transform: translateY(-33%); 

  left: 0;
}
.remain_num .exchange-wrapper p {
  font-size: 18px;
  font-weight: bold;
}




.button-wrapper .btn-cheerup {
  color: #fff;
  margin-bottom: 0px;
  background: transparent;
}
.button-wrapper .btn-cheerup img {
  width: 25%;
  margin-top: -2%;
}
// .button-wrapper .want-tips {
//   color: #fff;
//   font-size: 14px;
//   margin-top: 2%;
//   font-weight: bold;
//   position: absolute;
//   bottom: 10%;
// }
// .button-wrapper .want-tips img {
//   width: 80%;
// }
// .button-wrapper .want-tips span {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   margin-left: -20%;
//   -webkit-transform: translatey(-50%);
// }


.list-row {
  background: #fff;
  /*padding: 0.4rem 0.3rem;*/
  margin-bottom: 0.4rem;
  margin-top: 19px;
}
.list-row .row-label {
  display: inline-block;
  width: 2.3rem;
}
.list-row li {
  margin: 0.3rem 0;
}
.list-row p {
  line-height: 0.6rem;
  /* 入场须知 1.支付成功后，主办方会根据联: */
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #9B9B9B;
}
.fr {
  float: right;
}
.bg-normal{
    height: 100%;
    background: #efeff4;
    font-size: 0.38rem;
}
.detail-page {
  position: absolute;
  top: 100%;
  width: 80%;
  margin-left: 10%;
}
.detail-page .button-wrapper.logo {
  margin-bottom: 10px;
}
.introduction {
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #7F7F7F;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 30px;
}
.detail-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.detail-item img, .detail-item div {
  flex-flow: 1;
}

.detail-item div {
  padding-left: 16px;
}
.detail-item div h2 {
  /* 5年: */
  font-family: PingFangSC-Regular;
  font-size: 17px;
  color: #5C5C5C;
  letter-spacing: 0;
  line-height: 17px;
  text-align: left;
  margin-bottom: 5px;
}
.detail-item div h2:nth-last-child(1) {
  margin-bottom: 10px;
}
.img-steps {
  position: relative;
  width: 26%;
  top: 5px;
}
.five-font {
  font-size: 26px;
}
.detail-item div p {
  /* G社最早由一群热爱Hip-Hop的上班族: */
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #A1A1A1;
  letter-spacing: 0;
  line-height: 17px;
}
.piao-text {
  /*position: absolute;*/
  margin-top: 40px;
  width: 100%;
}
.piao-text p {
  text-align: center;
  /* 积赞抢1折入场券: */
  font-family: PingFangSC-Regular;
  font-size: 32px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 10px;
}
.nextbg {
  /*background: url('/static/img/piaonextbg.png');*/
  /*position: absolute;
  top: -125%;*/
  margin-top: 80px;
}
p.cheer-tip {
  /* 已有 0个 人加油: */
  margin: 0 auto;
  width: 200px;
  font-family: PingFangSC-Regular;
  font-size: 17px;
  margin-top: 12px;
  color: #243A89;
  letter-spacing: 0;
  text-align: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #EEEEEE;
}
.cheer-tip.success {
  /* 恭喜您！积赞完成: */
  font-family: PingFangSC-Regular;
  font-size: 17px;
  color: #BC0000;
  letter-spacing: 0;
  text-align: center;
}
.cheer-tip.successed {
  /* 您的好友已加满油: */
  font-family: PingFangSC-Regular;
  font-size: 17px;
  color: #243A89;
  letter-spacing: 0;
  text-align: center;
}
.cheer-num {
  color: #BE0000;
  font-size: 30px;
  font-family: PingFangSC-Regular;
}
.success-tip {
  /* 活动时间地点：2018年7月21日19:: */
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
}
