
<div class="wrapper">
  <div class="header">
    <a href="/purchase/index?purchase_id=1"><img src="/static/img/back.png" alt=""></a>
    填写报名信息
  </div>
  <div class="logo_show">
    <img src="/static/img/logo.png" alt="">
  </div>
  <div class="form_field">
      <div class="validate-item"><span>参赛姓名：</span><input type="text" name="userName" id="userName"><p class="error"></p></div>
      <div class="validate-item choose"><span>报名舞种：</span><div class="choose-item">
<!--         <div class="item">
          <ul>
            <li><input type="checkbox" name="1" id=""><span>poppin</span></li>
            <li><input type="checkbox" name="2" id=""><span>kidfree style</span></li>
          </ul>
        </div>
        <div class="item">
         <ul>
            <li><input type="checkbox" name="3" id=""><span>locking</span></li>
            <li><input type="checkbox" name="4" id=""><span>Hip-Hop</span></li>
          </ul>
        </div> -->

        {% for i in xrange(len(res)) %}
            {% if i % 2==0%}
                      <div class="item">
                      <ul>
            {% end %}
                  <li><input type="checkbox" name="{{res[i]['kind_id']}}" id="" value="{{res[i]['kind_id']}}"><span>{{res[i]['kind']}}</span></li>
            {% if i % 2==1%}
                      </ul>
                      </div>
            {% end %}
        {% end %}
      </div><p class="error" style="line-height: 1; display:none" id="checkboxError">所选舞种不能为空</p></div>
      <div class="validate-item"><span>选手电话：</span><input type="text" name="phone" id="phone"><p class="error"></p></div>
      <div class="validate-item"><span>选手微信号：</span><input type="text" placeholder="选填" name="weixin" id="weixin"><p class="error"></p></div>

  </div>

</div>


<div class="button-wrapper button-wrapper-static">
    <a href="javascript:;" class="btn btn-confirm" id="submit">提交</a>
</div>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="/static/js/main.js"></script>
