<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title></title>
    <script>
        document.addEventListener('DOMContentLoaded',function(){
         var docEl = window.document.documentElement;
         var width = docEl.getBoundingClientRect().width;
         var rootSize = width/1080*100;
         docEl.style.fontSize = rootSize + 'px';
       },false);
    </script>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
{%if code!= 0 %}
<div>{{msg}}</div>
{% else %}
{% if res['type']=='signup' %}

<div class="bg-normal">
   <div class="list-row">
       <p>参赛信息</p>
   </div>
   <div class="list-row">
    <ul>
        <li>
            <span class="row-label">参赛姓名：</span>
            <span class="row-item">{{res["name"]}}</span>
        </li>
        <li>
            <span class="row-label">报名舞种：</span>
            <span class="row-item">{{res["kinds"]}}</span>
        </li>
        <li>
            <span class="row-label">选手电话：</span>
            <span class="row-item">{{res["phone"]}}</span>
        </li>
        {%if res["wechat_no"]!= "" %}
        <li>
            <span class="row-label">选手微信号：</span>
            <span class="row-item">{{res["wechat_no"]}}</span>
        </li>
        {% else %}
        {% end %}
    </ul>

   </div>
   <div class="list-row">
         <p style="color:red">
             参赛选手须知：
         </p>
        <p>1. 支付成功，到比赛现场使用本人手机微信扫描二维码即可进场</p>
        <p>2. 本赛事不支持退款</p>
        <p>3. 比赛检录时间：2016.9.10上午11:30</p>
        <p>4. 比赛地点：北京市朝阳区 1919小剧院</p>
        <p>5. 只支持本人报名，暂不支持代报名</p>
  </div>
</div>
{% else %}
<div class="wrapper">
</div>
<div class="bg-normal">

   <div class="list-row">
       <p>参赛信息</p>
   </div>
   <div class="list-row">
    <ul>
        <li>
            <span class="row-label">参赛姓名：</span>
            <span class="row-item">{{res["name"]}}</span>
        </li>
        <li>
            <span class="row-label">报名舞种：</span>
            <span class="row-item">{{res["kinds"]}}</span>
        </li>
        <li>
            <span class="row-label">选手电话：</span>
            <span class="row-item">{{res["phone"]}}</span>
        </li>
        {%if res["wechat_no"]!= "" %}
        <li>
            <span class="row-label">选手微信号：</span>
            <span class="row-item">{{res["wechat_no"]}}</span>
        </li>
        {% else %}
        {% end %}
    </ul>

   </div>

   <div class="list-row">
       <span>报名费</span> <span class="fr">{{res["total_fee"]}}</span>
   </div>
    <div class="list-row">
         <p style="color:red">
             参赛选手须知：
         </p>
        <p>1. 支付成功，到比赛现场使用本人手机微信扫描二维码即可进场</p>
        <p>2. 本赛事不支持退款</p>
        <p>3. 比赛检录时间：2016.9.10上午11:30</p>
        <p>4. 比赛地点：北京市朝阳区 1919小剧院</p>
        <p>5. 只支持本人报名，暂不支持代报名</p>
  </div>
</div>
{% end %}

{% end %}

</body>

</html>
