{%if code!= 0 %}
<div>{{msg}}</div>
{% else %}
<div class="wrapper">
    <div class="header">
    <a href="/purchase/kinds?purchase_id=1"><img src="/static/img/back.png" alt=""></a>

    订单详情
  </div>
</div>
<div id="jsapi_res" style="display:none">{{res["jsapi_res"]}}</div>
<div id="out_trade" style="display:none">{{res["out_trade_no"]}}</div>
<div class="bg-normal">

   <div class="list-row">
       <p>确认参赛信息</p>
   </div>
   <div class="list-row">
    <ul>
        <li>
            <span class="row-label">参赛姓名：</span>
            <span class="row-item">{{res["name"]}}</span>
        </li>
        <li>
            <span class="row-label">报名舞种：</span>
            <span class="row-item">{{res["kinds"]}}</span>
        </li>
        <li>
            <span class="row-label">选手电话：</span>
            <span class="row-item">{{res["phone"]}}</span>
        </li>
        {%if res["wechat_no"]!= "" %}
        <li>
            <span class="row-label">选手微信号：</span>
            <span class="row-item">{{res["wechat_no"]}}</span>
        </li>
        {% else %}
        {% end %}
    </ul>

   </div>

   <div class="list-row">
       <span style="color:red">应付报名费</span> <span class="fr">{{res["total_fee"]}}</span>
   </div>
   <div class="list-row">
       <p>
           参赛选手须知：
       </p>
        <p>1. 比赛检录时间：2016.9.10（周六）上午11:30<p>
        <p>2. 比赛地点：北京市朝阳区1919小剧院<p>
        <p>3. 完成支付后，到比赛现场出示“微信支付”的通知或者“帮帮预售”发出的参赛通知，即可入场<p>
        <p>4. 本赛事不支持退款<p>
        <p>5. 只支持本人报名，暂不支持代报名<p>
        <p>6. 报名Kid freestyle的家长请确认参赛选手的姓名是小孩的名字<p>
        <p>客服微信号：gsteps  （有问题请咨询）</p>
   </div>

<div class="button-wrapper button-wrapper-static" style="margin-top: 0.7rem;">
    <a href="javascript:;" class="btn btn-white" id="orderCommit" style="background:#45688b;color:white">确认缴费报名</a>
</div>
</div>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="/static/js/main.js"></script>
<script>
var jsapi_res = document.querySelector("#jsapi_res").innerHTML;
var out_trade_no = document.querySelector("#out_trade").innerHTML;
console.log(jsapi_res);
console.log(out_trade_no);


document.querySelector("#orderCommit").onclick = function() {
     WeixinJSBridge.invoke(
     'getBrandWCPayRequest', JSON.parse(document.querySelector("#jsapi_res").innerHTML),
       function(res) {
            if(res.err_msg=="get_brand_wcpay_request:ok"){
                reqwest({
                    url: '/order/paysuccess',
                    type: 'json',
                    method: 'get',
                    data: {
                        "out_trade_no": out_trade_no
                    },
                    success: function(resp) {
                        if (resp.code == "0") {
                            console.log("预下订单成功")
                        } else {
                            alert(resp.msg);
                        }

                    }
                })
                WeixinJSBridge.invoke('closeWindow',{},function(res){});

            }else if (res.err_msg=="get_brand_wcpay_request:cancel"){
                alert("支付被取消");
            } else {
                alert("支付失败");
            }
       }
   );
 }
</script>
{% end %}
