<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>G-STEPS ST公演入场券！限量开抢啦！</title>
    <meta name="description" content="一个连程序猿都会Hip-Hop的街舞社团，来瞧瞧我们的另一面！" />
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/count.css">
    <link rel="stylesheet" href="/static/css/layer.css">
</head>
<body>
<img src="/static/img/logo.png" style="width:0px; height:0px; overflow:hidden; position: absolute;" alt="">
<div id="formbackground" style="position:absolute; width:100%; height:100%; z-index:-1">
<img src="/static/img/bg.png" height="100%" width="100%"/>
</div>

<div class="title-wrap">
   <img src="/static/img/title1.png" class="title1">
   <img src="/static/img/title2.png" class="title2">
</div>
<div id="counter">
    <span class="days"></span>
    <span class="hours"></span>
    <span class="minutes"></span>
    <span class="seconds"></span>
</div>

<div class="video-wrap">
<!-- <iframe frameborder="0" width="90%" src="https://v.qq.com/x/page/m05282tqfrb.html?start=0" allowfullscreen></iframe> -->
<iframe frameborder="0" width="90%" src="https://v.qq.com/iframe/player.html?vid=m05282tqfrb&tiny=0&auto=0" allowfullscreen></iframe>
    <!-- <iframe width="90%" src="http://player.youku.com/embed/XMTU5OTE5ODQ3Ng==" frameborder=0 allowfullscreen></iframe> -->
</div>

<div class="introtext-wrapper">
    <p>一个连程序猿都会Hip-Hop的街舞社团，一场长大之后的玩耍</p>
</div>
{% if isfinish == 'true'%}
  <div class="button-wrapper">
    <a href="javascript:;" class="btn btn-finish">抱歉，活动已结束</a>
</div>
{% else %}
  {% if discot == 'false'%}
     <div class="button-wrapper">
       <a href="javascript:;" class="btn btn-common">已成功购买</a>
    </div>
  {% else %}
      <div class="button-wrapper">
        <a href="/api/purchase/index" class="btn btn-common">一折抢购入场券</a>
     </div>

    <div class="button-wrapper">
        <a href="/api/purchase/info" class="btn btn-common">我是土豪，直接买</a>
    </div>
  {% end %}
  
{% end %}



<!-- discot {{discot}} -->
<!-- <div class="footer">
    <a href="#">有问题，点这里</a>
</div> -->


<script src="/static/js/jquery.js"></script>
<script src="/static/js/main.js"></script>
<script>
$.ajax({
        url: "/api/purchase/wechatjsapi",
        type: "post",
        data: {'current_url': document.URL},
        dataType: "json",
        success: function (data) {
            var config = {
                debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                appId: data.res.appid, // 必填，公众号的唯一标识
                timestamp: data.res.timestamp, // 必填，生成签名的时间戳
                nonceStr: data.res.noncestr, // 必填，生成签名的随机串
                signature: data.res.signature,// 必填，签名，见附录1
                jsApiList: data.res.js_api_list// 必填，需要使用的JS接口列表，所有JS接口列表见附录2
            }

            console.log(config);
            wx.config(config);
            wx.ready(function () {
                wx.onMenuShareAppMessage({
                    title: 'G-STEPS ST公演入场券！开抢啦！限量哦！',
                    desc: '一个连程序猿都会Hip-Hop的街舞工作室，来瞧瞧我们的另一面！',
                    link: data.res.link,
                    imgUrl: 'http://year4.gsteps.cn/static/img/logo.png',
                    trigger: function (res) {
                    },
                    success: function (res) {
                    },
                    cancel: function (res) {
                    },
                    fail: function (res) {
                        alert(JSON.stringify(res));
                    }
                });
            })
        }
    })
</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script> 
<script>
</script>
</body>
</html>
