<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>G-STEPS五周年公演</title>
    <meta name="description" content="一个连程序猿都会Hip-Hop的街舞社团，来瞧瞧我们的另一面！" />
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/count.css">
    <link rel="stylesheet" href="/static/css/layer.css">
</head>
<style type="text/css">
    body {
        background: url('/static/img/qiangpiaobg.png') no-repeat;
        /*background-position: center center;*/
        background-size: cover;
    }
</style>
<body>
<img src="/static/img/logo.png" style="width:0px; height:0px; overflow:hidden; position: absolute;"  alt="">

<p style='display: none'>你的盆友还差<span class="remain_cheer_num">{{ remain_cheer_num }}</span>人加油即可</p>
{% if status == 'cheer_payed'%}
      <div id="formbackground" style="position:absolute; width:100%; height:100%; z-index:-1">
      <img src="/static/img/bgNew.png" height="100%" width="100%"/>
      </div>

      <div class="title-wrap">
         <img src="/static/img/newLogo.png" class="title1">
         <div class="title2">
             <h1><img src="/static/img/G-STEPS.png"></h1>
             <h2>5周年公演</h2>
             <h4>PLAY HARD</h4>
             <h4>WORK HARD</h4>
             <p>7月21日不见不散</p>
         </div>
      </div>

{% else %}
<div class='piao-text'>
    <p><img src="/static/img/G-STEPSm.png" class='img-steps'> <span class='five-font'>五周年公演</span></p>
    <p>集赞抢1折入场券</p>
</div>
{% end %}

<div class='nextbg'>
    {% if status == 'cheer_done'%}
      <p class='cheer-tip success'>恭喜您! 集赞完成</p>
    {% elif  status == 'cheer_payed' %}
      <!-- <p>您已成功兑换,出示此页面即可入场</p> -->
      <!-- <p class='cheer-tip'>恭喜您!积赞完成</p> -->
    {% else %}
        <p class='cheer-tip'>已有 <span class='cheer-num'>{{30-remain_cheer_num}}</span>个 人加油</p>
    {% end %}
    
    <div class="ticket-wrapper">
        <div class="ticket_img_wrapper">
            {% if remain_cheer_num<=0 %}
            <div class="float_area">
                {% if status == 'cheer_payed'%}
                <ul class="wrapper_heart cheer_payed">
                {% else %}
                <ul class="wrapper_heart">
                {% end %}
                    <li class="heart">
                        <image class="image_heart" src="/static/img/choose_heart.png"></image>
                        <image class="image_heart" src="/static/img/choose_heart.png"></image>
                        <image class="image_heart" src="/static/img/choose_heart.png"></image>
                        <image class="image_heart" src="/static/img/choose_heart.png"></image>
                        <image class="image_heart" src="/static/img/choose_heart.png"></image>
                        <image class="image_heart" src="/static/img/choose_heart.png"></image>
                    </li>
                    <li class="heart">
                        <image class="image_heart" src="/static/img/choose_heart.png"></image>
                        <image class="image_heart" src="/static/img/choose_heart.png"></image>
                        <image class="image_heart" src="/static/img/choose_heart.png"></image>
                        <image class="image_heart" src="/static/img/choose_heart.png"></image>
                        <image class="image_heart" src="/static/img/choose_heart.png"></image>
                        <image class="image_heart" src="/static/img/choose_heart.png"></image>
                    </li>
                    <li class="heart">
                        <image class="image_heart" src="/static/img/choose_heart.png"></image>
                        <image class="image_heart" src="/static/img/choose_heart.png"></image>
                        <image class="image_heart" src="/static/img/choose_heart.png"></image>
                        <image class="image_heart" src="/static/img/choose_heart.png"></image>
                        <image class="image_heart" src="/static/img/choose_heart.png"></image>
                        <image class="image_heart" src="/static/img/choose_heart.png"></image>
                    </li>
                    <li class="heart">
                        <image class="image_heart" src="/static/img/choose_heart.png"></image>
                        <image class="image_heart" src="/static/img/choose_heart.png"></image>
                        <image class="image_heart" src="/static/img/choose_heart.png"></image>
                        <image class="image_heart" src="/static/img/choose_heart.png"></image>
                        <image class="image_heart" src="/static/img/choose_heart.png"></image>
                        <image class="image_heart" src="/static/img/choose_heart.png"></image>
                    </li>
                    <li class="heart">
                        <image class="image_heart" src="/static/img/choose_heart.png"></image>
                        <image class="image_heart" src="/static/img/choose_heart.png"></image>
                        <image class="image_heart" src="/static/img/choose_heart.png"></image>
                        <image class="image_heart" src="/static/img/choose_heart.png"></image>
                        <image class="image_heart" src="/static/img/choose_heart.png"></image>
                        <image class="image_heart" src="/static/img/choose_heart.png"></image>
                    </li>
                </ul>
            </div>
            {% elif  remain_cheer_num<=30 %}
            <div class="float_area">
                <ul class="wrapper_heart">
                    <li class="heart">
                        <image class="image_heart" src="/static/img/unchoose_heart.png"></image>
                        <image class="image_heart" src="/static/img/unchoose_heart.png"></image>
                        <image class="image_heart" src="/static/img/unchoose_heart.png"></image>
                        <image class="image_heart" src="/static/img/unchoose_heart.png"></image>
                        <image class="image_heart" src="/static/img/unchoose_heart.png"></image>
                        <image class="image_heart" src="/static/img/unchoose_heart.png"></image>
                    </li>
                    <li class='heart'>
                        <image class="image_heart" src="/static/img/unchoose_heart.png"></image>
                        <image class="image_heart" src="/static/img/unchoose_heart.png"></image>
                        <image class="image_heart" src="/static/img/unchoose_heart.png"></image>
                        <image class="image_heart" src="/static/img/unchoose_heart.png"></image>
                        <image class="image_heart" src="/static/img/unchoose_heart.png"></image>
                        <image class="image_heart" src="/static/img/unchoose_heart.png"></image>
                    </li>
                    <li class='heart'>
                        <image class="image_heart" src="/static/img/unchoose_heart.png"></image>
                        <image class="image_heart" src="/static/img/unchoose_heart.png"></image>
                        <image class="image_heart" src="/static/img/unchoose_heart.png"></image>
                        <image class="image_heart" src="/static/img/unchoose_heart.png"></image>
                        <image class="image_heart" src="/static/img/unchoose_heart.png"></image>
                        <image class="image_heart" src="/static/img/unchoose_heart.png"></image>
                    </li>
                    <li class='heart'>
                        <image class="image_heart" src="/static/img/unchoose_heart.png"></image>
                        <image class="image_heart" src="/static/img/unchoose_heart.png"></image>
                        <image class="image_heart" src="/static/img/unchoose_heart.png"></image>
                        <image class="image_heart" src="/static/img/unchoose_heart.png"></image>
                        <image class="image_heart" src="/static/img/unchoose_heart.png"></image>
                        <image class="image_heart" src="/static/img/unchoose_heart.png"></image>
                    </li>
                    <li class="heart">
                        <image class="image_heart" src="/static/img/unchoose_heart.png"></image>
                        <image class="image_heart" src="/static/img/unchoose_heart.png"></image>
                        <image class="image_heart" src="/static/img/unchoose_heart.png"></image>
                        <image class="image_heart" src="/static/img/unchoose_heart.png"></image>
                        <image class="image_heart" src="/static/img/unchoose_heart.png"></image>
                        <image class="image_heart" src="/static/img/unchoose_heart.png"></image>
                    </li>
                </ul>
            </div>
            {% end%}
        </div>
    </div>
</div>

<!-- <div class="video-link">
    <a href="/api/purchase/activity"><img src="/static/img/video.png" alt=""></a>
</div> -->

<!-- <div class="info">
    <a href="javascript:;"><img src="/static/img/info.png" alt=""></a>
</div> -->

<!-- <div class="title-wrap">
   <img src="/static/img/title1.png" class="title1">
   <img src="/static/img/title2.png" class="title2">
</div>
<div id="counter" style="visibility: hidden">
    <span class="days"></span>
    <span class="hours"></span>
    <span class="minutes"></span>
    <span class="seconds"></span>
</div> -->



 <!-- 剩余加油个数个数:{{remain_cheer_num}} -->
 <!-- status:{{status}} -->
{% if remain_cheer_num<=0%}
{% if status == 'cheer_done'%}
  <div class="button-wrapper" style="margin-top: 10%">
    <a href="/api/purchase/info" class="btn btn-common btn-want">
        <img src="/static/img/yizhepurchase.png">
    </a>
  </div>
  <!-- p>恭喜您已经成功兑换优惠资格</p> -->
{% elif  status == 'cheer_payed' %}
  <!-- <div class="success-wrapper">
      <h3>注意：</h3>
      <p>入场票仅代表拥有入场的权限</p>
      <p>也就是说您得尽量去早一些排队入场</p>
      <p>否则太晚，座位都被坐完，您就可能只能站着看</p>
  </div> -->
  <p class='success-tip'>活动时间地点：2018年7月21日19:00  望京浦项中心</p>
  <div class="button-wrapper" style="margin-top: 10%">
    <a href="javascript:;" class="btn btn-common btn-want">
        <img src="/static/img/successpay.png">
    </a>
  </div>
{% end %}

<!-- 集齐赞的状态-->
<!-- 在这里嵌入相应的html即可-->



{% elif  remain_cheer_num<=30 %}
<!--已经被加油但是还未集齐的状态 -->
  {% if status == 'cheer_payed'%}
    <!-- <div class="success-wrapper">
        <h3>注意：</h3>
        <p>入场票仅代表拥有入场的权限</p>
        <p>也就是说您得尽量去早一些排队入场</p>
        <p>否则太晚，座位都被坐完，您就可能只能站着看</p>
    </div> -->
    <div class="button-wrapper" style="margin-top: 10%">
      <a href="javascript:;" class="btn btn-common btn-want">已成功购买</a>
    </div>
  {% else %}

    <div class="button-wrapper" style="margin-top: 10%">
        <a href='javascript:;' class='btn btn-common'><img src="/static/img/pengyou.png" alt=""></a>
        <!-- <p class="want-tips" style="display:none"><img src="/static/img/share-text.png" style="width: 80%;" alt=""></p> -->
        <!-- <p class="want-tips" style="display:none">发送给盆友的方法：点击右上角，你懂的!</p> -->
    </div>
{% end %}
{% end%}

<div class="footer">
    <a href="#" style='color: #000'>有问题，点这里</a>
</div>

<script type="text/javascript" src="/static/js/jquery.js"></script>
<script src="/static/js/main.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
$.ajax({
        url: "/api/purchase/wechatjsapi",
        type: "post",
        data: {'current_url': document.URL},
        dataType: "json",
        success: function (data) {
            var config = {
                debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                appId: data.res.appid, // 必填，公众号的唯一标识
                timestamp: data.res.timestamp, // 必填，生成签名的时间戳
                nonceStr: data.res.noncestr, // 必填，生成签名的随机串
                signature: data.res.signature,// 必填，签名，见附录1
                jsApiList: data.res.js_api_list// 必填，需要使用的JS接口列表，所有JS接口列表见附录2
            }

            console.log(config);
            wx.config(config);
            wx.ready(function () {
                wx.onMenuShareAppMessage({
                    title: 'G-STEPS ST公演入场券！长大之后的一场玩耍！',
                    desc: '一个连程序猿都会Hip-Hop的街舞工作室，来瞧瞧我们的另一面！',
                    link: data.res.link,
                    imgUrl: 'http://year4.gsteps.cn/static/img/logo.png',
                    trigger: function (res) {
                    },
                    success: function (res) {
                    },
                    cancel: function (res) {
                    },
                    fail: function (res) {
                        alert(JSON.stringify(res));
                    }
                });
            })
        }
    })
</script>
<script>
    var image_heart = $(".image_heart")
    var num = 30 - parseInt($(".remain_cheer_num").eq(0).text());

    image_heart.filter(":lt("+ num +")").attr("src", "/static/img/choose_heart.png");

    $(".btn-help").on('click', function(){
        $(".want-tips").show();
    })

</script>
<!-- <script>
    var ticket_models = $(".ticket_modal")
    ticket_models.each(function(index, ele) {
        $(this).css("left", index * 5 + "%")
    })
    var num = 20 - parseInt($(".remain_cheer_num").eq(0).text());
    ticket_models.filter(":lt("+ num +")").addClass('hide');

    $(".btn-help").on('click', function(){
        $(".want-tips").show();
    })
</script> -->
</body>
</html>
