<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title></title>
    <script>
        document.addEventListener('DOMContentLoaded',function(){
         var docEl = window.document.documentElement;
         var width = docEl.getBoundingClientRect().width;
         var rootSize = width/1080*100;
         docEl.style.fontSize = rootSize + 'px';
       },false);
    </script>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<div class="wrapper">
    <div class="header">
    <a href="/purchase/kinds?purchase_id=1"><img src="/static/img/back.png" alt=""></a>

    订单详情
  </div>
</div>


<div class="bg-normal">

   <div class="list-row">
       <p>确认参赛信息</p>
   </div>
   <div class="list-row">
    <ul>
        <li>
            <span class="row-label">参赛姓名：</span>
            <span class="row-item">{{name}}</span>
        </li>
        <li>
            <span class="row-label">报名舞种：</span>
            <span class="row-item">{{kinds}}</span>
        </li>
        <li>
            <span class="row-label">选手电话：</span>
            <span class="row-item">{{phone}}</span>
        </li>
        <li>
            <span class="row-label">选手微信号：</span>
            <span class="row-item">{{wechat_no}}</span>
        </li>
    </ul>

   </div>

   <div class="list-row">
       <span>已付报名费</span> <span class="fr">￥{{total_fee}}</span>
   </div>
   <div class="list-row">
       <p>
           参赛选手须知：
       </p>
       <p>
           1. 支付成功后到比赛现场直接使用本人手机扫描二维码即可进场
       </p>
       <p>
           2. 本赛事暂不支持退款
       </p>
       <p>
           3. 比赛开始时间：2016.9.10上午10点  119文化剧场
       </p>
   </div>

<div class="button-wrapper button-wrapper-static" style="margin-top: 0.7rem;">
    <a href="javascript:;" class="btn btn-white" id="orderCommit">提交</a>
</div>
</div>
<script>
document.querySelector("#orderCommit").onclick = function() {
    WeixinJSBridge.invoke(
    'getBrandWCPayRequest', JSON.parse("{{jsapi_res}}"),
      function(res) {
          alert(JSON.stringify(res));
          // window.location = "/orderlist.html";
      }
  );
}
</script>
</body>
</html>
