<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title></title>
    <script>
        document.addEventListener('DOMContentLoaded',function(){
         var docEl = window.document.documentElement;
         var width = docEl.getBoundingClientRect().width;
         var rootSize = width/1080*100;
         docEl.style.fontSize = rootSize + 'px';
       },false);
    </script>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
{%if code!= 0 %}
<div>{{msg}}</div>
{% else %}
<div class="bg-normal">

   <div class="list-row">
       <p>参赛信息</p>
   </div>
   <div class="list-row">
    <ul>
        <li>
            <span class="row-label">参赛姓名：</span>
            <span class="row-item">{{res["name"]}}</span>
        </li>
        <li>
            <span class="row-label">报名舞种：</span>
            <span class="row-item">{{res["kinds"]}}</span>
        </li>
        <li>
            <span class="row-label">选手电话：</span>
            <span class="row-item">{{res["phone"]}}</span>
        </li>
        {%if res["wechat_no"]!= "" %}
        <li>
            <span class="row-label">选手微信号：</span>
            <span class="row-item">{{res["wechat_no"]}}</span>
        </li>
        {% else %}
    </ul>

   </div>

   <div class="list-row">
       <span>已经付报名费：</span> <span class="fr">{{res["total_fee"]}}</span>
   </div>
   <div class="list-row">
       <p>
           参赛选手须知：
       </p>
       <p>
           1. 支付成功后到比赛现场直接使用本人手机扫描二维码即可进场
       </p>
       <p>
           2. 本赛事暂不支持退款
       </p>
       <p>
           3. 比赛开始时间：2016.9.10上午10点  119文化剧场
       </p>
   </div>
</div>
{% end %}<script>
window.alert = function(name){
 var iframe = document.createElement("IFRAME");
iframe.style.display="none";
iframe.setAttribute("src", 'data:text/plain,');
document.documentElement.appendChild(iframe);
window.frames[0].window.alert(name);
iframe.parentNode.removeChild(iframe);
}
</script>
</body>

</html>